body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.controls {
  text-align: center;
  margin: 20px;
}

#currency-pair {
  padding: 10px;
  font-size: 16px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho */
}

.chart-item {
  background-color: #2e2e2e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  width: 100%;
  /* Ocupar todo el ancho del contenedor */
}

.chart-item h1 {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background-color: #1b1b1b;
}

.hidden {
  display: none;
}

#intervals-checklist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#intervals-checklist label {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#intervals-checklist input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#intervals-checklist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#intervals-checklist label {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#intervals-checklist label:hover {
  background-color: green;
}

#intervals-checklist input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}